/DB (17).sql
/DB.sql
/dist
/html
/optimized_server copy
/optimized_server2.7z
/optimized_server3
optimized_server2/config/settings.py/
/script.log
/tcp_packets.log
/tcp_server.log
/exceptions.log
/api_requests.log
/app.log
/logs
/logs/*
/logs/**/*
/logs/**/**/*
/logs/**/**/**/*
/logs/**/**/**/**/*
/logs/**/**/**/**/**/*
/zaryd.sql
/parsed_packets.json