/DB (17).sql
/DB.sql
/dist
/html
/optimized_server copy
/optimized_server2.7z
/optimized_server3
optimized_server2/config/settings.py/
/script.log
/tcp_packets.log
/tcp_server.log
/exceptions.log
/api_requests.log
/app.log
/logs
/logs/*
/logs/**/*
/logs/**/**/*
/logs/**/**/**/*
/logs/**/**/**/**/*
/logs/**/**/**/**/**/*
/zaryd.sql
/zaryd (3).sql
/parsed_packets.json
/121
/zaryd2.sql
/invitations_storage.json
/optimized_server2/invitations_storage.json
/zaryd (4).sql
/zaryd (10).sql
/zaryd (11).sql
/server._2025-10-29.log
/server.log
/server._2025-10-30.log
/optimized_server2.zip